article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    font-size: 62.5%;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #212121;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    color: #505050;
  }
  
  .wrapper {
    /* max-width: 1440px; */
    margin: 0 auto;
  }
  
  .container {
    /* max-width: 1210px;
    padding-left: 2rem;
    padding-right: 2rem; */
    margin: auto;
    font-family: "Poppins", sans-serif;
  }